.assignment-list-item h1 {
  font-size: 1.25em;
}

.assignment-list-item p {
  font-size: 1em;
}

.assignment-list-item {
  margin: 5px 0 5px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.actions-container {
  display: flex;
  flex-direction: row;
}

.actions-container md-input {
  flex-grow: 2;
}
