<div class="container">
  <md-toolbar color="primary">
    <span (click)="closeModal()" class="clear-button">
      <i class="material-icons">clear</i>
    </span>
    <span>Add Assignment</span>
    <span class="fill"></span>
    <button md-button (click)="save()">Save</button>
  </md-toolbar>
  <md-card>
    <md-card-content>
      <form>
        <md-input placeholder="Assignment Name" [(ngModel)]="name"></md-input>
        <md-input placeholder="Due Date" [(ngModel)]="dueDate"></md-input>

        <!-- Replace this with md-select when it comes out -->
        <!-- Number of answers per questions field -->
        <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
          <select id="numAnswers"
                  class="mdl-selectfield__select"
                  [(ngModel)]="numAnswersPerQuestion"
                  (ngModelChange)="onNumAnswersPerQuestionChange()">
            <option *ngFor="let number of numOfPossibleAnswers" value="{{ number }}">
              {{ number }}
            </option>
          </select>
          <label class="mdl-selectfield__label" for="numAnswers"># answers per question</label>
        </div>

        <!-- Number of questions field -->
        <md-input placeholder="# of Questions" [(ngModel)]="numOfQuestions" (ngModelChange)="generateQuestions()"></md-input>

        <!-- Question entry field -->
        <div class="form-group" *ngFor="let question of questions; let questionNumber = index">
          <label>Question {{ question.questionNumber }} :</label>
          <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
            <select class="mdl-selectfield__select">
              <option *ngFor="let answer of possibleAnswers" value="{{ answer }}">
                {{ answer }}
              </option>
            </select>
            <label class="mdl-selectfield__label">Correct answer</label>
          </div>
        </div>
      </form>
    </md-card-content>
  </md-card>
</div>
