<h6>{{ assignment }}</h6>
<h4>Question #{{ question.questionNumber }}</h4>
<div class="mdl-layout mdl-grid" *ngFor="let answerChoice of question.answerChoices; let i = index">
  <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--hide-phone"></div>
  <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-phone">
    <button md-raised-button color="primary" (click)="answerQuestion(answerChoice)">
      {{ answerChoice }}
    </button>
  </div>
  <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--hide-phone"></div>
</div>
