.question-view-container {
  position: relative;
  min-height: 550px;
}

.bottom-nav .mdl-grid {
  width: 67%;
}

@media (max-width: 479px) {
  .bottom-nav > .mdl-grid {
    width: 100%;
  }
}

.mdl-grid {
  padding: 8px 0;
}

.mdl-cell {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.mdl-cell button {
  min-height: 60px;
}

h4, h6 {
  text-align: center;
}

.answer-buttons {
  overflow: hidden;
}

.next-question-slide {
  animation-name: next-question-slide;
  -webkit-animation-name: next-question-slide;

  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
}

@keyframes next-question-slide {
  0% { transform: translateX(200%); }
  100% { transform: translateX(0%); }
}

@-webkit-keyframes next-question-slide {
  0% { -webkit-transform: translateX(200%); }
  100% { -webkit-transform: translateX(0%); }
}

.prev-question-slide {
  animation-name: prev-question-slide;
  -webkit-animation-name: prev-question-slide;

  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
}

@keyframes prev-question-slide {
  0% { transform: translateX(-200%); }
  100% { transform: translateX(0%); }
}

@-webkit-keyframes prev-question-slide {
  0% { -webkit-transform: translateX(-200%); }
  100% { -webkit-transform: translateX(0%); }
}
