<div class="question-view-container">
  <h6>{{ assignment.name }}</h6>
  <h4>Question #{{ currentQuestion.questionNumber }}</h4>

  <div class="question-card">
    <div class="mdl-layout mdl-grid">
      <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--hide-phone"></div>
      <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-phone">
        <div class="mdl-grid answer-buttons">
          <div class="mdl-cell mdl-cell--12-col" *ngFor="let answerChoice of currentQuestion.answerChoices; let i = index">
            <button md-raised-button [color]="answerButtonColor(answerChoice)" (click)="answerQuestion(answerChoice)">
              {{ answerChoice }}
            </button>
          </div>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--hide-phone"></div>
    </div>
  </div>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--hide-phone"></div>
      <div class="bottom-nav mdl-cell mdl-cell--4-col-phone mdl-cell--4-col-desktop">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--2-col-phone">
            <button id="prev-button" md-raised-button color="primary" (click)="prevQuestion()">
              Prev
            </button>
          </div>
          <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--2-col-phone">
            <button *ngIf="!atLastQuestion()" class="right-nav-btn" md-raised-button color="primary" (click)="nextQuestion()">
              Next
            </button>
            <button *ngIf="atLastQuestion()"
                    md-raised-button color="warn"
                    (click)="finish()"
                    [routerLink]="['SelectStudentForAssignment']">
              Finish
            </button>
          </div>
        </div>
      </div>
    <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--hide-phone"></div>
  </div>
</div>
